* {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.darkmode{
    --navbar-color: #0D1B2A;
    --navbartext-color: #E0E1DD;
    --txt-color: black;
    --bg-color: #36424F;
    --primary-color: #0D1B2A;
    --login-color: #A0A6AA;
}

:root{
    --navbar-color: #0D1B2A;
    --navbartext-color: #E0E1DD;
    --txt-color: black;
    --bg-color: #EEEEEC;
    --primary-color: #0D1B2A;
    --login-color: white;
}


body {
    background-color: var(--bg-color);
    text-align: center;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

.navbar {
    margin-top: 0;
    width: 100%; 
}

.navbar ul {
    list-style-type: none;
    background-color: var(--navbar-color);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 40px;
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #fff;
    max-width: 400px;
    width: 100%;
    margin-left: 20px;
}

.search-container input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
    padding: 5px;
}

.search-container button {
    background: none;
    border: none;
    color: var(--bg-color);
    font-size: 16px;
    cursor: pointer;
}

.search-container input::placeholder {
    color: #666;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.navbar a {
    color: var(--navbartext-color);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-weight: bold;
    text-align: center;
}

.navbar a:hover {
    transform: scale(1.05, 1);
    border-radius: 5px;
    text-decoration: none;
}

.login {
    margin-left: auto;
}

.login-button {
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}

.login-button i {
    margin-right: 8px;
    font-size: 18px;
}

.login-button a {
    text-decoration: none;
    font-weight: bold;
}

.login-button:hover {
    text-decoration: none;
}

.login-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    height: auto; 
    padding: 30px;
    background-color: var(--login-color); 
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    margin: 80px auto; 
    
}

.login-header {
    text-align: center;
    margin: 20px 0 40px 0;
}

.login-header header {
    color: var(--txt-color);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}


.input-field {
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: 0.3s;
}


::placeholder {
    font-weight: 500;
    color: var(--txt-color); 
}

.input-field:focus {
    border: 2px solid #264653;
}

.forgot {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

section {
    display: flex;
    align-items: center;
    font: 14px;
    color: var(--txt-color);
}

#check {
    margin-right: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section a {
    color: var(--txt-color);
}

.input-submit {
    position: relative;
}

.submit-btn {
    width: 100%;
    height: 60px;
    background: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.input-submit label {
    position: absolute;
    top: 45%;
    left: 50%;
    color: #E0E1DD;
    font-weight: 600;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.submit-btn:hover {
    transform: scale(1.02, 1);
}

.sign-up-link {
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}

.sign-up-link a {
    color: var(--txt-color);
    font-weight: 600;
}


